<% if (includeMultiLanguage) { %>include ../helpers/_language<% } %>

doctype html
html
  head
    meta(charset="utf-8")
    title <%= projectName %>
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="shortcut icon", href="/favicon.ico")

    link(rel="stylesheet", href="/styles/main.css")

    <% if (includeModernizr) { %>

    script(src="/scripts/plugins/modernizr.js")

    <% } %>

  body

    include ../modules/_header

    main
      block content

    include ../modules/_footer

    script(src="/scripts/main.js")

