@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');


// variables
<% if (includeBootstrap) { -%>
@import "bootstrap/scss/functions";
<% } -%>
@import "variables";


<% if (includeBootstrap) { -%>
// libraries
@import "bootstrap/scss/bootstrap";
<% } -%>
<% if (includeFoundation) { -%>
@import './../../node_modules/foundation-sites/scss/foundation';

@include foundation-everything;
<% } -%>


// mixins
@import "mixins";


// Layout
@import "layout";


.sample-intro {
  padding-top: 60px;
  font-family: 'Open Sans', Helvetica;
  text-align: center;

  h1,
  h2,
  p {
    color: rgb(246, 117, 50);
  }

  a { border-bottom-color: #f7854a; }
}
